@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --color-principal: #0c6a37;
    --color-principal-dark: #022c15;
    --color-secondary: #febf58;
    --color-tertiary:  #ffcbac;
    --color-gray: #d4d4d4;
    --color-black: #000000;
    --black-50: #00000085;
    --gray-20: #72727234;
    --gray-50: #72727277;
    --white: #f1f1f1;
}

body {
    position: relative;
    margin: 0;
    background-color: var(--color-gray);
    color: var(--black-50);
    font-family: "Afacad", sans-serif;
    padding: 0;
}

main {
    top: 0;
    bottom: 0;
}

header {
    position: relative;
}

section {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
    height: auto;
    padding: 1rem 3rem;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../img/background/main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
}

.about_img {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../img/background/about.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
}

.service_img {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../img/background/services.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
}

.news_img {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../img/background/news.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
}

.contact_img {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../img/background/contact.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
}

/* NAVEGAÇÃO PRINCIPAL */

.navegation_top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 0.1rem var(--gray-50);
}

.top_menu_social {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0 2rem;
    padding: 0 3rem;
}


.icon_social{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 0.5rem;
    background-color: var(--gray-50);
    border-radius: 50%;
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease;
}

.icon_social:hover {
    color: var(--color-black);
    background-color: var(--color-secondary);
}

.text_top_menu {
    font-size: 1rem;
    color: var(--white);
}

.group_icons {
    border-left: solid 0.1rem var(--gray-50);
    margin: 0 1.2rem;
    padding: 0 0.3rem;
}

.logo_img img{
    width: 4rem;
    margin-left: 2rem;
}

.nav_main {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.btn_top_man {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 2rem;
}

.btn_top_man a {
    padding: 0.2rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--white);
    transition: all 0.3s ease-in-out;
}

.btn_top_man a:hover {
    color: var(--color-secondary);
}

.btn_top_man .bnt_active {
    color: var(--color-secondary);
}

.btn_top_man .bnt_budget {
    font-weight: 700;
    padding: 0.3rem 1.2rem;
    color: var(--color-black);
    background-color: var(--color-secondary);
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

.btn_top_man .bnt_budget:hover {
    color: var(--white);
    background-color: var(--color-principal);
    border-radius: 100px;
}



/* PRIMEIRA SESSÃO  */

.seciton_main {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    padding: 0 3rem;
}

.seciton_main {
    color: var(--white);
}

.seciton_main h1 {
    font-size: 4rem;
}

.seciton_main span {
    font-size: 1.8rem;
}

.seciton_main p {
    margin-top: 0.5rem;
    max-width: 40%;
    font-size: 1.2rem;
    text-indent: 1rem;
}

.group_btn {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1.5rem;
}

.bnt_solid {
    color: var(--color-black);
    background-color: var(--color-secondary);
    border-radius: 100px;
    font-weight: 400;
    padding: 0.7rem 3rem;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.bnt_solid:hover {
    color: var(--color-secondary);
    background-color: transparent;
    border: solid 0.1rem var(--color-secondary);
}

.bnt_solid_outline {
    color: var(--color-secondary);
    border: solid 0.1rem var(--color-secondary);
    border-radius: 100px;
    font-weight: 400;
    padding: 0.7rem 3rem;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.bnt_solid_outline i {
    font-size: 1.2rem;
}

.bnt_solid_outline:hover {
    color: var(--color-black);
    background-color: var(--color-secondary);
}

.group_box_info {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 3rem;
    color: var(--white);
}

.box_info_warpper {
    display: flex;
    flex-direction: row;
}

.box_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: var(--black-50);
    border-radius: 16px;
    margin: 0.3rem 0.3rem;
    padding: 1.3rem;
    transition: all 0.3s ease;
}

.box_info:hover {
    background-color: var(--color-black);
}

.box_info i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    margin-left: 0.5rem;
    font-size: 2.5rem;
    border: solid 0.1rem var(--white);
    border-radius: 50%;
    color: var(--white);
    text-decoration: none;
    margin-bottom: 1rem;
}

.box_info p {
    font-weight: 300;
    font-size: 1.1rem;
    text-indent: 1rem;
}


/* SEGUNDA SESSÃO */

.organization_center_div {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem 1rem;
    margin-top: 1.2rem;
    gap: 1rem;
}

.organization_center_div .div50 {
    width: 50%;
    height: auto;
}

.organization_center_div .div50 p {
    width: 80%;
    font-size: 1.3rem;
    text-indent: 1rem;
}

.organization_center_div .div50 .img_mission {
    position: relative;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 25px;
}


.img_suport {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.img_suport img {
    position: relative;
    border-radius: 25px;
    width: 100%;
}

.text_section {
    position: relative;
    width: 100%;
}

.text_section h2 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    width: 100%;
    margin-bottom: 1.2rem;
    color: var(--color-principal);
}

.text_section p {
    color: var(--color-black);
    width: 80%;
    font-size: 1.2rem;
    text-indent: 1rem;
    margin-bottom: 1rem;
}

.text_section p span {
    color: var(--color-principal);
    width: 80%;
    font-size: 1.3rem;
    font-weight: 800;
}

.design_rectangle {
    width: 12rem;
    height: auto;
    padding: 0.2rem;
    margin-bottom: 0.8rem;
    background-color: var(--color-secondary);
}
.design_rectangle_white {
    width: 12rem;
    height: auto;
    padding: 0.2rem;
    margin-bottom: 0.8rem;
    background-color: var(--white);
}

.design_rectangle_right {
    width: 15%;
    right: 0;
    height: 0.2rem;
    background-color: var(--color-secondary);
}

/* SERVIÇOS TELA HOME */

.section_service {
    width: 100%;
    height: 100%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 2rem 1rem;;
}

.section_service a i {
    font-size: 1.5rem;
}

.bg_green {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--color-principal);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub_title {
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 700;
}

.title_section {
    color: var(--white);
    font-size: 3rem;
    padding: 0 1rem;
    margin: 1rem 0;
    border-bottom: solid var(--color-secondary) 0.2rem;
}

.title_section_green {
    color: var(--color-principal);
    font-size: 3rem;
    padding: 0 1rem;
    margin: 1rem 0;
    border-bottom: solid var(--color-secondary) 0.2rem;
}

.organization_box_services {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.box_services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: auto;
    padding: 1rem 0.5rem;
}

.org_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box_services span {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 0.9;
    padding: 0 0.8rem;
    margin: 0.5rem 0;
    color: var(--color-secondary);
}

.box_services p {
    font-size: 1.2rem;
    width: 100%;
    text-indent: 1rem;
}

.img_service_info {
    width: 250px;
    height: 300px;
}

.bnt_services {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-black);
    background-color: var(--color-secondary);
    border-radius: 100px;
    font-weight: 400;
    margin-top: 1.2rem;
    padding: 0.3rem 2rem;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.bnt_services:hover {
    color: var(--color-secondary);
    background-color: transparent;
    border: solid 0.1rem var(--color-secondary);
}

.clients {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 1.5rem 0;
    gap: 1rem;
}

.clients .item {
    background-color: #fff;
    border-radius: 15px;
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.clients .item img{
    position: relative;
    width: 300px;
    padding: 1.3rem;
}

.text_section_last {
    position: relative;
    width: 80%;
}

.text_section_last h2 {
    font-size: 2.3rem;
    font-weight: 800;
    line-height: 1;
    width: 100%;
    margin-bottom: 1.2rem;
    color: var(--color-secondary);
}

.text_section_last p {
    color: var(--white);
    width: 80%;
    font-size: 1.3rem;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.text_section_last p:hover {
    color: var(--color-secondary);
}

.big_logo {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.big_logo img {
    position: relative;
    width: 65%;
}
 

.text_end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_end p {
    font-size: 1.3rem;
    color: var(--white);
    padding: 1.2rem 2rem 1rem 2rem;
}

.footer_organization {
    width: 100%;
    height: auto;
    padding: 2rem 5rem 0.2rem 5rem;
    margin-top: 2rem;
    border-top: solid 0.8rem var(--color-secondary);
    background-color: var(--color-principal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.footer_organization .img_footer img {
    width: 10rem;
    height: auto;
    margin: 0;
}

.footer_organization .img_footer p {
    width: 40%;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 400;
}

.footer_organization .img_footer span {
    padding-top: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.footer_organization ul {
    list-style-type: none;
    color: var(--white);
}

.footer_organization ul li {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
}

.footer_organization ul li i {
    font-size: 1.2rem;
    margin-right: 0.2rem;
}

.nav_footer {
    background-color: var(--color-principal);
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
}

.credit {
    width: 100%;
    height: auto;
    color: var(--white);
    background-color: var(--color-principal-dark);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.credit p {
    font-size: 1rem;
}

.credit a {
    color: var(--white);
    transition: color 0.3s ease-in-out;
}

.credit a:hover {
    color: var(--color-secondary);
}

.credit a i {
    font-size: 0.9rem;
}

.section_mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 0.2rem var(--color-secondary);
    padding-bottom: 2rem;
    margin-bottom: 2.5rem;
}

.section_mission h2 {
    color: var(--white);
    font-size: 3rem;
    padding: 0 1rem;
    margin: 1rem 0;
    padding: 0 1rem;
}

.section_vision {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.section_vision h2 {
    color: var(--color-principal);
    font-size: 3rem;
    padding: 0 1rem;
    margin: 1rem 0;
    padding: 0 1rem;
}

.align_center_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.align_center_div .text_vision {
    width: 75%;
    margin-left: 1.6rem;
}

.align_center_div .text_vision p {
    margin-left: 5rem;
    width: 60%;
    height: auto;
    font-size: 1.3rem;
    color: var(--color-black);
    padding: 0.5rem 0 0 2rem;
    border-left: solid 0.3rem var(--color-secondary);
    text-indent: 1rem;
}

.align_center_div .img_vision {
    position: relative;
    width: 40%;
    height: auto;
    border-radius: 25px;
}

.align_center_div .img_vision img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.align_center_value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 1.5rem;
}

.align_center_value h2 {
    font-size: 3rem;
    color: var(--color-secondary);
    margin: 1rem 0;
    padding: 0 1rem;
}

.box_info_value {
    width: 300px;
    border: solid 0.2rem var(--color-secondary);
    background-color: transparent;
    color: var(--white);
    margin: 0.5rem;
    border-radius: 15px;
    padding: 1rem;
    transition: all 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.box_info_value:hover {
    border: solid 0.2rem var(--color-principal);
    background-color: var(--color-secondary);
    color: var(--color-principal-dark);
}

.box_info_value i {
    margin-top: 0.8rem;
    font-size: 2.5rem;
}

.box_info_value p {
    font-size: 1.4rem;
}

.box_info_green {
    width: 50%;
    background-color: transparent;
    border: solid 0.1rem var(--color-principal);
    color: var(--color-principal);
    margin: 0.5rem 2rem;
    border-radius: 15px;
    padding: 1rem;
    transition: all 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

}

.box_info_green span {
    width: 100%;
    height: auto;
    color: var(--color-principal);
    border-bottom: var(--color-principal) 0.1rem solid;
    padding: 1rem 0.3rem;
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.box_info_green p {
    padding: 0.5rem;
    font-size: 1.1rem;
    color: var(--color-black);
    text-indent: 1rem;
}

.text_section_green {
    position: relative;
    width: 100%;
}

.text_section_green h2 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    width: 100%;
    margin-bottom: 1.2rem;
    color: var(--color-secondary);
}
.text_section_green h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    width: 100%;
    margin-bottom: 1.2rem;
    color: var(--white);
}

.text_section_green p {
    color: var(--white);
    width: 80%;
    font-size: 1.2rem;
    text-indent: 1rem;
    margin-bottom: 0.5rem;
}

.box_info_transparent {
    width: 50%;
    background-color: transparent;
    border: solid 0.1rem var(--color-secondary);
    color: var(--color-principal);
    margin: 0.5rem 2rem;
    border-radius: 15px;
    padding: 1rem;
    transition: all 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.box_info_transparent span {
    width: 100%;
    height: auto;
    background-color: var(--color-principal);
    color: var(--white);
    border-bottom: var(--color-gray) 0.1rem solid;
    padding: 1rem 0.3rem;
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.box_info_transparent span:hover {
    color: var(--color-secondary);
}


.box_info_transparent p {
    padding: 0.5rem;
    font-size: 1.1rem;
    color: var(--white);
    text-indent: 1rem;
}
